        body {
            margin: 0;
            padding: 0;
            position: relative;
        }
        
        h3 {
            text-align: center;
            font-size: xx-large;
        }
        
        .details {
           /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  */
            border-collapse: collapse;
            width: fit-content;
            position: relative;
           
        }
        
        .details td,
        .details th {
            width: auto;
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        .details tr:nth-child(even) {
            width: auto;
            background-color: #f2f2f2;
        }
        
        .details tr:hover {
            background-color: #ddd;
        }
        
        .details th {
            width: auto;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
        
        .details button {
            position: relative;
            left: 85%;
            margin: 25px;
            border: none;
            outline: none;
            color: #fff;
            background: #4caf50;
            width: 13%;
            height: 5%;
            font-size: x-large;
            font-weight: 700;
            transition: 0.5s ease;
        }
        
        .details button:hover {
            opacity: 0.9;
            border-radius: 5px;
            font-size: large;
        }