    /* @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600); */
    
    body {
        margin: 0;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.6;
    }
    
    .register {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }
    
    .register img {
        height: 70vh;
        width: 100vw;
        position: relative;
        transform: translate(-250px, 70px);
    }
    
    .signup-form {
        font-family: 'Poppins', sans-serif;
        width: 360px;
        color: #999;
    }
    
    .row input {
        font-family: 'Poppins', sans-serif;
        position: relative;
        margin: 1.5%;
        padding: 4px;
        transform: translate(-370px, 20px);
        border-radius: 4px;
        border: none;
        border-bottom: 2px solid #777777;
        width: 300px;
        font-size: large;
        font-weight: 500;
        color: #999;
        transition: .3s;
    }
    
    .signup button {
        margin: 0;
        padding: 7px;
        padding-bottom: 10px;
        width: 200px;
        font-size: x-large;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 4px;
        color: #fff;
        background: #32be8f;
        position: absolute;
        transform: translate(-520px, 50px);
        transition: 0.4s ease;
    }
    
    .signup button:hover {
        border-radius: 18px;
        background: #32af8f;
    }