@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    background-image: url(../Images/Index_Background.jpg);
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row {
    margin-left: 0;
    margin-right: 0;
}

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.card-header p {
    border-bottom: 2px solid #666666;
    border-top: 2px solid #666666;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    opacity: 1;
    background-color: #6ab04c;
    /*background-size: 1000px;*/
    animation-name: signup;
    animation-duration: 5s;
    animation-delay: 2s;
    transform: translateY( -150px);
}

@keyframes signup {
    from {
        background-image: url(../Images/Index_Background.jpg);
        opacity: 0;
    }
    to {
        background-color: #6ab04c;
        opacity: 1;
    }
}

.row {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translateX(-72%);
}

.row #full_name {
    margin-top: 20px;
    transform: translateY(-100px);
    border: none;
    width: 150%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 3px 7px black;
}

.row #email_address {
    margin-top: 20px;
    transform: translateY(-60px);
    border: none;
    width: 150%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 3px 7px black;
}

.row #phone_number {
    margin-top: 20px;
    transform: translateY(-20px);
    border: none;
    width: 150%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 3px 7px black;
}

.row #user_name {
    margin-top: 20px;
    transform: translateY(20px);
    border: none;
    width: 150%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 3px 7px black;
}

.row #password {
    margin-top: 20px;
    transform: translateY(60px);
    border: none;
    width: 150%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 3px 7px black;
}

.row #confirm_password {
    margin-top: 20px;
    transform: translateY(100px);
    border: none;
    width: 150%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 3px 7px black;
}

.signup button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    transform: translate(-80px, 220px);
    background-color: #333333;
    color: #ffffff;
    font-weight: 800;
    transition: 0.8s;
}

.signup button:hover {
    cursor: pointer;
    background-color: #111111;
}