@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    background-image: url(../Images/Index_Background.jpg);
}

.row input {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0.5%;
    padding: 4px;
    transform: translate(-150px, 100px);
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: sans-serif;
    width: 350px;
    font-size: large;
    font-weight: 500;
    box-shadow: 0 4px 4px #000000;
}

.signup button {
    margin: 0;
    padding: 7px;
    padding-bottom: 10px;
    width: 200px;
    font-size: x-large;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    background: #000;
    position: absolute;
    left: 50%;
    transform: translate(-70px, 150px);
    transition: 0.4s ease;
}

.signup button:hover {
    border-radius: 25px;
    background: #111111;
}