body {
    margin: 0;
    padding: 0;
    background-image: url(../Images/Index_Background.jpg);
}

.content h1 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}


/*.phone-number button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px, 0px);
    background-color: #6ab04c;
    border: none;
    height: 50px;
    width: 400px;
    border-radius: 4px;
    color: #fff;
    opacity: 1;
    font-size: 25px;
    font-weight: bolder;
    transition: 0.4s;
}

.email-address button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px, 80px);
    background-color: #6ab04c;
    border: none;
    height: 50px;
    width: 400px;
    border-radius: 4px;
    color: #fff;
    opacity: 1;
    font-size: 25px;
    font-weight: bolder;
    transition: 0.4s;
}

.phone-number button:hover {
    border-radius: 20px;
    opacity: 1;
    background-color: #333333;
}

.email-address button:hover {
    border-radius: 20px;
    opacity: 1;
    background-color: #333333;
}*/

.recoverbyphone h2 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: #6ab04c;
    border-radius: 4px;
    animation-name: bg;
    animation-duration: 5s;
    width: 25%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-170px, -130px);
}

@keyframes bg {
    from {
        opacity: 0.6;
        background-color: #333333;
    }
    to {
        opacity: 1;
        background-color: #6ab04c;
    }
}

.recoverbyphone input {
    font-size: large;
    border: none;
    border-radius: 2px;
    text-align: center;
    margin-top: 50px;
    color: #000000;
    width: 15%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90px, -80px);
    box-shadow: none;
    transition: 0.4s;
}

.recoverbyphone input:hover {
    box-shadow: 5px 1px 7px #0984e3;
}

.recoverbyemail h2 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: #6ab04c;
    border-radius: 4px;
    animation-name: bg;
    animation-duration: 5s;
    width: 25%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-170px, 0px);
}

@keyframes bg {
    from {
        opacity: 0.6;
        background-color: #333333;
    }
    to {
        opacity: 1;
        background-color: #6ab04c;
    }
}

.recoverbyemail input {
    font-size: large;
    border: none;
    border-radius: 2px;
    text-align: center;
    margin-top: 50px;
    color: #000000;
    width: 15%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90px, 50px);
    box-shadow: none;
    transition: 0.4s;
}

.recoverbyemail input:hover {
    box-shadow: 5px 1px 7px #0984e3;
}

.recovery #submit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25px, 170px);
    border: none;
    width: 8%;
    height: 5%;
    border-radius: 20px;
    background-color: #333333;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 800;
    transition: 0.5s;
}

.recovery #submit-button:hover {
    background-color: #111111;
    cursor: pointer;
}