*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* overflow: hidden; */
}

.left{
  float: left;
  width: content;
}