*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../Images/Index_Background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.body-iframe iframe {
    border: px solid #6ab04c;
    transform: translate(20px, 100px);
    height: 400px;
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
}

.body-iframe h1 {
    margin: 10px 20px;
    transform: translate(0px, 20px);
    color: #fff;
    border-bottom: 5px solid black;
}

.logo {
    padding: 50px;
    width: 5%;
    height: 10%;
    position: absolute;
    left: 70%;
    transform: translateX(50px);
}