*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Images/Index_Background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* overflow: hidden; */
}

.kolumn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}



.body-iframe iframe {
    border: px solid #6ab04c;
    transform: translate(20px, 100px);
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.left{
  float: left;
  width: content;
}

/*
.logo {
    padding: 50px;
    width: 5%;
    height: 10%;
    position: absolute;
    left: 70%;
    transform: translateX(50px);
} */
