body {
    margin: 0px;
    padding: 0px;
    background-image: url(/Images/Index_Background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.index img {
    padding: 50px;
    float: right;
    width: 15%;
}

.greet {
    margin: 0px;
    padding: 0px;
    text-align: center;
    transform: translateY(300px);
    font-size: 50px;
    color: #fff;
}







/*.index button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90px, 30px);
    background-color: #6ab04c;
    color: #fff;
    border: none;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: 0.8s;
}

.index button :hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}*/

.index button {
    display: inline-block;
    border-radius: 20px;
    background-color: #6ab04c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    top: 53%;
    left: 45%;
}

.index button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.index button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.index button:hover span {
    padding-right: 25px;
}

.index button:hover span:after {
    opacity: 1;
    right: 0;
}